.hdr-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                background-color: #1877F2;
                border-radius: 20px;
                margin: 20px;
            }

.create-post {
    display: flex;
    margin-left: 40px;
}

.create-post > a {
    text-decoration: none;
}

.posts {
    list-style: none;
}

.posts > a {
    text-decoration: none;
}